.bg-gray-800
  .mx-auto.container.px-2.py-8
    .flex.gap-x-8.items-center.mx-1
      .flex-shrink-0
        = link_to root_path do
          .inline-flex.w-10.h-10.bg-gradient-to-br.from-pink-400.to-blue-500.rounded-full.p-2.items-center.border-2.border-white.justify-center.font-bold.text-white.text-sm.leading-3
            DE AL

      .flex-grow.flex
        %nav.mx-auto
          %ul
            %li
              = link_to settings_profile_path, class: 'py-1 px-3 text-gray-200 tracking-wider hover:text-purple-300 transition flex items-center' do
                .h-5.w-5.mr-2
                  = render Helpers::IconComponent.new(icon: 'svgs/adjustments.svg')
                = t('settings.title')

      .flex-shrink-0
        %div{ 'data-controller': 'main-navigation-component--main-navigation-component' }
          %nav
            %ul
              %li
              - if user_signed_in?
                %li
                  = link_to t('shared.devise.sign_out'), destroy_user_session_path, method: :delete, class: 'text-gray-600 hover:text-purple-300 transition'
              - else
                %li
                  = link_to new_user_session_path, class: 'py-1 pl-5 pr-3 text-xs rounded-md border-2 border-gray-100 text-gray-100 hover:opacity-100 transition tracking-wide opacity-50 flex items-center gap-x-1' do
                    = t('shared.devise.sign_in')
                    %svg.h-3.w-3{fill: "none", stroke: "currentColor", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
                      %path{d: "M9 5l7 7-7 7", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2.5"}
