.user-menu{ 'data-controller': 'helpers--dropdown' }
  .relative.inline-block.text-left
    %div
      %button#menu-button.bg-gray-700.text-gray-400.hover:text-gray-100.hover:bg-gray-600.transition.rounded-full.flex.items-center.focus:outline-none.focus:ring-2.focus:ring-offset-2.focus:ring-offset-gray-700.focus:ring-purple-600{ 'aria-expanded': 'true', 'aria-haspopup': 'true', type: 'button', 'data-action': 'helpers--dropdown#toggle', 'data-helpers--dropdown-target': 'toggler' }
        %span.sr-only= t('shared.screen_readers.open_options')
        %span.h-10.w-10.rounded-full.inline-flex.items-center.justify-center
          %span.leading-none
            = current_user.decorate.initials

    .origin-top-right.absolute.right-0.mt-2.rounded-md.shadow-lg.bg-white.ring-1.ring-black.ring-opacity-5.focus:outline-none.overflow-hidden{ 'aria-labelledby': 'menu-button', 'aria-orientation': 'vertical', role: 'menu', tabindex: '-1', 'data-helpers--dropdown-target': 'menu' }
      .p-0{ role: 'none' }
        .flex.flex-col.divide-y.divide-gray-200
          = link_to settings_profile_path, class: 'pl-3 pr-12 py-4 text-gray-700 hover:text-purple-600 flex items-center gap-x-4' do
            .h-6.w-6.p-1
              = render Helpers::IconComponent.new(icon: 'svgs/user.svg')
            = t('settings.profile.title')

          = link_to destroy_user_session_path, method: :delete, class: 'pl-3 pr-12 py-4 text-gray-400 hover:text-purple-600 flex items-center gap-x-4 transition' do
            .h-6.w-6.p-1
              = render Helpers::IconComponent.new(icon: 'svgs/logout.svg')
            = t('shared.devise.sign_out')
