%div{ 'data-controller': 'devise--edit-password-form', 'data-devise--edit-password-form-minimum-password-length-value': minimum_password_length }
  = render Devise::FormComponent.new do |c|
    = c.title do
      = t('shared.devise.change_password')

    = c.form do
      = form_for(resource, url: user_password_path, html: { method: :put }) do |f|
        = f.hidden_field :reset_password_token
        %div
          .password-with-hint.my-6
            .field
              .my-1
                = f.label :password
              .my-1
                = f.password_field :password, autocomplete: "off", class: 'form-input', 'data-action': 'devise--edit-password-form#render', 'data-devise--edit-password-form-target': 'password', 'data-lpignore': true
              .my-1
                = render Forms::FieldErrorsComponent.new(object: f.object, field: :password)

            .field.mt-2
              .hint.text-xs.text-gray-400.opacity-0
                = t('shared.devise.minimum_password_length', count: minimum_password_length)

          .actions.mt-10.mb-4
            = f.submit t('shared.devise.change_password'), class: 'form-submit'

    - c.links links
