%div{ 'data-controller': 'devise--edit-password-form', 'data-devise--edit-password-form-minimum-password-length-value': minimum_password_length }
  = render Devise::FormComponent.new do |c|
    = c.title do
      = t('shared.devise.change_password')

    = c.form do
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
        = f.hidden_field :reset_password_token
        %div
          .password-with-hint.my-6
            .field
              = render Forms::FieldComponent.new(form: f, field: :password) do |c|
                = f.password_field :password, autocomplete: "off", class: c.default_classes, 'data-action': 'devise--edit-password-form#render', 'data-devise--edit-password-form-target': 'password', 'data-lpignore': true

            .field.mt-2
              .hint.text-xs.text-gray-400.opacity-0
                = t('shared.devise.minimum_password_length', count: minimum_password_length)

          .actions.mt-10.mb-4
            = render Forms::SubmitComponent.new(form: f, text: t('shared.devise.change_password'), 'data-devise--edit-password-form-target': 'submit')

    - c.links links
