%div{ 'data-controller': 'devise--memorize-email' }
  = render Devise::FormComponent.new do |c|
    = c.title do
      = t('shared.devise.sign_in')

    = c.form do
      = form_for(resource, url: user_session_path) do |f|
        %div
          .field.my-6
            .my-1
              = f.label :email
            .my-1
              = f.email_field :email, autocomplete: "email", class: 'form-input', 'data-devise--memorize-email-target': 'email', 'data-action': 'devise--memorize-email#memorize'
            .my-1
              = render Forms::FieldErrorsComponent.new(object: f.object, field: :email)

          .field.my-6
            .my-1
              = f.label :password
            .my-1
              = f.password_field :password, autocomplete: "current-password", class: 'form-input'
            .my-1
              = render Forms::FieldErrorsComponent.new(object: f.object, field: :password)


          .field.my-6
            = f.check_box :remember_me, class: 'form-check-box'
            = f.label :remember_me, nil, class: 'ml-2'

          .actions.mt-10.mb-4
            = f.submit t('shared.devise.sign_in'), class: 'form-submit'

    - c.links links
