%div{ 'data-controller': 'devise--new-registration-form devise--memorize-email', 'data-devise--new-registration-form-minimum-password-length-value': minimum_password_length }
  = render Devise::FormComponent.new do |c|
    = c.title do
      = t('shared.devise.create_account')

    = c.form do
      = form_for(resource, url: user_registration_path, html: { autocomplete: 'off' }) do |f|
        %div
          .field.my-6
            .my-1
              = f.label :email
            .my-1
              = f.email_field :email, autocomplete: "off", class: 'form-input', 'data-devise--new-registration-form-target': 'email', 'data-devise--memorize-email-target': 'email', 'data-action': 'devise--new-registration-form#render devise--memorize-email#memorize', 'data-lpignore': true
            .my-1
              = render Forms::FieldErrorsComponent.new(object: f.object, field: :email)

          .field.my-6
            .my-1
              = f.label :full_name
            .my-1
              = f.text_field :full_name, autocomplete: "off", class: 'form-input', 'data-devise--new-registration-form-target': 'fullName', 'data-action': 'devise--new-registration-form#render', 'data-lpignore': true
            .my-1
              = render Forms::FieldErrorsComponent.new(object: f.object, field: :full_name)

          .password-with-hint.my-6
            .field
              .my-1
                = f.label :password
              .my-1
                = f.password_field :password, autocomplete: "off", class: 'form-input', 'data-action': 'devise--new-registration-form#render', 'data-devise--new-registration-form-target': 'password', 'data-lpignore': true
              .my-1
                = render Forms::FieldErrorsComponent.new(object: f.object, field: :password)

            .mt-2
              .hint.text-xs.text-gray-400.opacity-0
                = t('shared.devise.minimum_password_length', count: minimum_password_length)

          .actions.mt-10.mb-4
            = f.submit t("shared.devise.create_account"), class: 'form-submit', 'data-devise--new-registration-form-target': 'submit'

      - c.links links
