%div{ 'data-controller': 'devise--memorize-email' }
  = render Devise::FormComponent.new do |c|
    = c.title do
      = t('shared.devise.forgot_password')

    = c.form do
      = form_for(resource, url: user_password_path, html: { method: :post }) do |f|
        %div
          .field.my-6
            .my-1
              = f.label :email
            .my-1
              = f.email_field :email, autocomplete: "email", class: 'form-input', 'data-devise--memorize-email-target': 'email', 'data-action': 'devise--memorize-email#memorize'
            .my-1
              = render Forms::FieldErrorsComponent.new(object: f.object, field: :email)

          .actions.mt-10.mb-4
            = f.submit t('shared.devise.reset_password'), class: 'form-submit'

    - c.links links
