%div{ 'data-controller': 'devise--memorize-email' }
  = render Devise::FormComponent.new do |c|
    = c.title do
      = t('shared.devise.forgot_password')

    = c.form do
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        %div
          .field.my-6
            = render Forms::FieldComponent.new(form: f, field: :email) do |c|
              = f.email_field :email, autocomplete: "email", class: c.default_classes, 'data-devise--memorize-email-target': 'email', 'data-action': 'devise--memorize-email#memorize'

          .actions.mt-10.mb-4
            = render Forms::SubmitComponent.new do |c|
              = f.submit t('shared.devise.reset_password'), class: c.default_classes

    - c.links links
