!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DEAL
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      = render Layout::MainNavigationComponent.new(user_signed_in: user_signed_in?)
    .main
      = render Layout::FlashesComponent.new(action_dispatch_flash: flash)
      .container.mx-auto.py-10
        = yield
    .footer
